h1, .count {
	text-align: center;
	font-family: "Secular One", sans-serif;
	color: #324448;
}

.list {
	padding: 2px;
	text-align: center;
}

.item {
	list-style: none;
	margin: 10px;
	margin-bottom: 15px;
	background-color: #D2E3E6;
	height: 180px;
	width: 200px;
	border-style: none;
	border-radius: 13px;
	display: inline-flex;
	position: relative;
}

.container {
	width: 200px;
	padding: 0px;
}

.versus {
	position: absolute;
	height: 20px;
	width: 20px;
	top: 135px;
	left: calc(50% - 10px);
	color: #F9C53F;
}

.left {
	font-style: italic;
	position: absolute;
	top: 110px;
	width: 100%;
	padding: 5px;
	margin: 0px;
	text-align: left;
	color: #43B6B2;
}

.right {
	font-style: italic;
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 5px;
	padding-bottom: 0px;
	margin: 0px;
	text-align: right;
	color: #F97D64;
}

.overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}