<h1>Pong games in live</h1>
<br>
<h4 class="count">Available lives : {{ size }}</h4>
<div class="list">
	<img *ngIf="parties?.length === 0 || parties === undefined" src="../../../../assets/live.png" style="width: 100%;">
	<li class="item" *ngFor="let party of parties">
		<div class="container">
			<a routerLink="../game/{{ party.game_id }}">
				<svg version="1.1" id="{{ party.game_type_id.type }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 700 400" style="border-radius: 10px 10px 0px 0px; margin: 4px;" xml:space="preserve">
					<g *ngIf="party.game_type_id.board_color === 'figma'">
						<image width="750" height="400" clip-path="url(#figma)" xlink:href="../../../../assets/landscapebannerfigma.png" />
					</g>
					<g *ngIf="party.game_type_id.board_color !== 'figma'">
						<rect width="700" height="400" style="fill: {{ party.game_type_id.board_color }};"/>
					</g>
					<g *ngIf="party.game_type_id.type === 'classic'">
						<rect x="25" y="40" width="10" height="80" style="fill: {{ party.game_type_id.racket1_color }};"/>
						<rect x="668" y="260" width="10" height="80" style="fill: {{ party.game_type_id.racket2_color }};"/>
						<rect x="460" y="260" width="16" height="16" style="fill: {{ party.game_type_id.ball_color }};"/>
					</g>
					<g *ngIf="party.game_type_id.type === 'our'">
						<rect x="25" y="40" width="10" height="80" style="fill: {{ party.game_type_id.racket1_color }};"/>
						<rect x="668" y="260" width="10" height="80" style="fill: {{ party.game_type_id.racket2_color }};"/>
						<rect x="460" y="260" width="16" height="16" style="fill: {{ party.game_type_id.ball_color }};"/>
					</g>
					<g *ngIf="party.game_type_id.type === 'special'">
						<rect x="25" y="40" width="6" height="48" style="fill: {{ party.game_type_id.racket1_color }};"/>
						<rect x="660" y="260" width="15" height="120" style="fill: {{ party.game_type_id.racket2_color }};"/>
						<rect x="460" y="260" width="8" height="8" style="fill: {{ party.game_type_id.ball_color }};"/>
					</g>
				</svg>
			</a>
			<p *ngIf="global.allUserPseudo.has(party.player1.login)" class="left">{{ global.allUserPseudo.get(party.player1.login) }}</p>
			<p *ngIf="!global.allUserPseudo.has(party.player1.login)" class="left">{{ party.player1.pseudo }}</p>
			<p class="versus">VS</p>
			<p *ngIf="global.allUserPseudo.has(party.player2.login)" class="right">{{ global.allUserPseudo.get(party.player2.login) }}</p>
			<p *ngIf="!global.allUserPseudo.has(party.player2.login)" class="right">{{ party.player2.pseudo }}</p>
</div>
	</li>
</div>