h1 {
	text-align: center;
}

.count {
	text-align: center;
}

.error {
	text-align: center;
	color: #F97D64;
}

.list {
	padding: 2px;
	text-align: center;
}

.item {
	list-style: none;
	margin: 5px;
	margin-bottom: 10px;
	background-color: #D2E3E6;
	height: 135px;
	width: 200px;
	border-style: none;
	border-radius: 13px;
	display: inline-flex;
	position: relative;
}

.position {
	margin: 6px;
	background-color: #528FAC;
	min-height: 26px;
	min-width: 26px;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	color: #D2E3E6;
}

.party {
	height: 135px;
	width: 200px;
	border-radius: 15px;
}

.versus {
	position: absolute;
	height: 20px;
	width: 20px;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	color: #F9C53F;
	text-shadow: 0px 0px 2px 200px #08638C;
}

.left {
	font-style: italic;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
	text-align: left;
	color: #43B6B2;
	text-shadow: 0px 0px 2px 2px #08638C;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.right {
	font-style: italic;
	position: absolute;
	bottom: -20px;
	width: 100%;
	padding: 5px;
	text-align: right;
	color: #F97D64;
	text-shadow: 0px 0px 2px 2px #08638C;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}