<div class="row middle">
	<h1>42 pong rules</h1>
  <div class="col">
	<div class="card">
		<h3 class="card-header">Pong Rules</h3>
		<div class="card-body">
		  <h5 class="card-title">What is Pong</h5>
		  <p class="card-text">Pong is one of the first computer games that was ever created, this simple
			"tennis like" game features two paddles and a ball, the goal is to
			defeat your opponent by being the first one to gain 10 points, a player
			gets a point once the opponent misses a ball.</p>
		</div>
		<div class="card-body">
				<div class="text-center">
					<img src="https://i.gifer.com/RY6p.gif" class="rounded" />
				</div>
			</div>
			<div class="card-body">
				<h5 class="card-title">How to play</h5>
				<p class="card-text">Move your paddle up and down with the arrow keys. If you activate the shield option, just press the spacebar so no ball can pass during 3 seconds. It will prevent your opponent from scoring. 3 shields are available during the all game. You can see the remaining ones at the bottom of the game.</p>
			</div>
	  </div>
  </div>
  <div class="col">
	<div class="card">
		<h3 class="card-header">Chat Rules</h3>
		<div class="card-body">
		  <h5 class="card-title">Be kind</h5>
		  <p class="card-text">Giving constructive feedback is good. Being unnecessarily mean isn’t
			what we do here. Make sure you take the time to evaluate what you are
			doing before you send a message.</p>
		</div>
		<div class="card-body">
		<h5 class="card-title">Respect other humans</h5>
			<p class="card-text">We know our pong players are fine specimens of humanity. Complimenting
				them is good. Sexually objectifying, creeping on, describing violent
				actions toward, describing your physical reactions to, or otherwise
				dehumanizing them is not.</p>
			</div>
			<div class="card-body">
			  <h5 class="card-title">Include everyone</h5>
			  <p class="card-text">We want this chat to be a safe and welcoming place for everyone. Don't
				do anything that might make someone feel like they don't belong. This
				includes but is not limited to generalizations of types of people,
				hate speech, or discriminatory language based on gender, religion,
				ethnicity, sex or socioeconomic background.</p>
				</div>
	  </div>
	
  </div>
</div>
