.col {
  margin: 5%;
  background-color: rgb(255, 255, 255);
  /* min-width: 250px; */
}

.middle {
  height: 100%;
  /* Seems to work in the same way */
  /* flex-grow: 1; */
}

.row {
  margin-left: 0%;
  margin-right: 0%;
}
.block {
  background-color: rgb(199, 190, 190);
}
