.col {
  margin: 5%;
}

.middle {
  height: 100%;
  max-height: 75vh; /*to scroll*/
  /* Seems to work in the same way */
  /* flex-grow: 1; */
}

.row {
  margin-left: 0%;
  margin-right: 0%;
  overflow-y: auto; /*to scroll*/
}
.block {
  background-color: rgb(245, 237, 237);
}

img {
  width: 230px;
  height: 150px;
}

p {
  font-size: 12px;
  color: #324448;
}

h1
{
  color: #324448;
  text-align: center;
  font-family: 'Secular One', sans-serif;
}

h3, h5 {
  text-align: center;
  font-family: 'Secular One', sans-serif;
  color: #324448;
}

.card-header {
  background-color: white;
  border-bottom: 10px solid #324448;
}

.card {
  border: none;
}