<header>
  <div class="container">
    <div class="flex-grid">
      <div class="d-flex justify-content-center align-items-center">
        <img
          class="rounded-circle"
          alt="pgoudet"
          src="https://cdn.intra.42.fr/users/medium_pgoudet.jpg"
        />
      </div>
      <div>
        <h3>login</h3>
        <p>{{ user.login }}</p>
      </div>
      <div>
        <h3>pseudo</h3>
        <p>{{ user.pseudo }}</p>
      </div>
      <div>
        <h3>points</h3>
        <p>000000 pts</p>
      </div>
      <div>
        <h3>classement</h3>
        <p>1st</p>
      </div>
      <div>
        <h3>mail</h3>
        <p>{{ user.mail }}</p>
      </div>
    </div>
  </div>
</header>
