<header>
  <div class="test container">
    <div class="flex-grid">
      <div class="d-flex justify-content-center align-items-center">
        <img
          class="rounded-circle"
          alt="{{ userService.user.login }}"
          src="{{ userService.user.avatar }}"
        />
      </div>
      <div>
        <h3>login</h3>
        <p>{{ userService.user.login }}</p>
      </div>
      <div>
        <h3>pseudo</h3>
        <p>{{ userService.user.pseudo }}</p>
      </div>
      <div>
        <h3>points</h3>
        <p>000000 pts</p>
      </div>
      <div>
        <h3>classement</h3>
        <p>1st</p>
      </div>
    <app-double-auth></app-double-auth>
    </div>
  </div>
</header>
