<header>
  <div class="container">
    <div class="flex-grid">
      <div>
        <img
          class="rounded-circle"
          alt="pgoudet"
          src="https://cdn.intra.42.fr/users/medium_pgoudet.jpg"
        />
      </div>
      <div>
        <h3>login</h3>
        <p>pgoudet</p>
      </div>
      <div>
        <h3>pseudo</h3>
        <p>Pierre-redxdxhfxghfx</p>
      </div>
      <div>
        <h3>points</h3>
        <p>000000 pts</p>
      </div>
      <div>
        <h3>classement</h3>
        <p>1st</p>
      </div>
    </div>
  </div>
</header>
