<!-- Banner -->
<div class="jumbotron text-center"></div>
<body>
	<!-- infinite loop -->
	<h1>42 PONG</h1>
	<ngx-typed-js [strings]="['play pong online', 'chat with friends', 'compete against them']" [loop]="true" [typeSpeed]="100">
	<h2>Come <span class="typing"></span></h2>
	<p>You may be the next pong champion</p>
  </ngx-typed-js>

  <button type="button" class="btn btn-dark" (click)="onRegister()">
    Register
  </button>
  <router-outlet id="auth"></router-outlet>
  <!-- <router-outlet></router-outlet> -->
</body>