
/*Hero Styles*/

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #08638C;
}

.typing {
	color : #528FAC;
}

/*.hero .background-image {*/
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;*/
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.638), rgba(0, 0, 0, 0.885)),url("https://images.unsplash.com/photo-1609710228159-0fa9bd7c0827?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");*/
	/*background-image: linear-gradient(to right bottom, #08638c, #4c68a3, #F97D64, #4c68a3, #4c68a3);
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;*/
	/*background-color: #80a3db;*/
/*}*/

.fit-picture {
	width: 300px;
	height: 300px;
  }

  button {
	margin: 30px;
	padding-right: 30px;
	padding-left: 30px;
  }


/* Background of moving balls */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
	z-index: -1;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #08638c;
    top: 37%;
    left: 48%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 5vw -1vh;
    box-shadow: 4vmin 0 1.2525639688552426vmin currentColor;
}
.background span:nth-child(1) {
    color: #f5c959;
    top: 24%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw 9vh;
    box-shadow: -4vmin 0 1.0676523474135773vmin currentColor;
}
.background span:nth-child(2) {
    color: #08638c;
    top: 88%;
    left: 7%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 17vw -18vh;
    box-shadow: -4vmin 0 1.080548329408801vmin currentColor;
}
.background span:nth-child(3) {
    color: #f5c959;
    top: 29%;
    left: 81%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw -6vh;
    box-shadow: 4vmin 0 0.5263311659711911vmin currentColor;
}
.background span:nth-child(4) {
    color: #f97d64;
    top: 23%;
    left: 17%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw 16vh;
    box-shadow: 4vmin 0 1.087106268223147vmin currentColor;
}
.background span:nth-child(5) {
    color: #f97d64;
    top: 45%;
    left: 93%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -20vw 0vh;
    box-shadow: -4vmin 0 0.8319635676431774vmin currentColor;
}
.background span:nth-child(6) {
    color: #08638c;
    top: 8%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw -2vh;
    box-shadow: 4vmin 0 1.1586251787393014vmin currentColor;
}
.background span:nth-child(7) {
    color: #08638c;
    top: 93%;
    left: 23%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw 18vh;
    box-shadow: -4vmin 0 1.45238362261494vmin currentColor;
}
.background span:nth-child(8) {
    color: #f5c959;
    top: 85%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw 20vh;
    box-shadow: 4vmin 0 0.6156818545566367vmin currentColor;
}
.background span:nth-child(9) {
    color: #f97d64;
    top: 31%;
    left: 9%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw 13vh;
    box-shadow: 4vmin 0 0.9873848931615312vmin currentColor;
}
.background span:nth-child(10) {
    color: #08638c;
    top: 96%;
    left: 53%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw -11vh;
    box-shadow: 4vmin 0 1.4532047664064276vmin currentColor;
}
.background span:nth-child(11) {
    color: #f5c959;
    top: 100%;
    left: 10%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw 23vh;
    box-shadow: 4vmin 0 1.3432743300880623vmin currentColor;
}
.background span:nth-child(12) {
    color: #f5c959;
    top: 92%;
    left: 20%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw 23vh;
    box-shadow: 4vmin 0 0.8102106720297924vmin currentColor;
}
.background span:nth-child(13) {
    color: #f97d64;
    top: 52%;
    left: 31%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw 25vh;
    box-shadow: 4vmin 0 1.018191645809435vmin currentColor;
}
.background span:nth-child(14) {
    color: #f97d64;
    top: 93%;
    left: 35%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw -6vh;
    box-shadow: -4vmin 0 1.1275313198021737vmin currentColor;
}
.background span:nth-child(15) {
    color: #f97d64;
    top: 70%;
    left: 13%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -2vw 13vh;
    box-shadow: 4vmin 0 0.882268626986525vmin currentColor;
}
.background span:nth-child(16) {
    color: #f97d64;
    top: 87%;
    left: 1%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 10vw -3vh;
    box-shadow: 4vmin 0 1.4221657755887274vmin currentColor;
}
.background span:nth-child(17) {
    color: #f97d64;
    top: 58%;
    left: 17%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw 3vh;
    box-shadow: -4vmin 0 1.0316322072362516vmin currentColor;
}
.background span:nth-child(18) {
    color: #f5c959;
    top: 43%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw -3vh;
    box-shadow: -4vmin 0 0.837813353305189vmin currentColor;
}
.background span:nth-child(19) {
    color: #08638c;
    top: 71%;
    left: 13%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw 21vh;
    box-shadow: -4vmin 0 0.5011792374981408vmin currentColor;
}
.background span:nth-child(20) {
    color: #f97d64;
    top: 8%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw -21vh;
    box-shadow: -4vmin 0 1.318738233644521vmin currentColor;
}
.background span:nth-child(21) {
    color: #f5c959;
    top: 94%;
    left: 47%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw -13vh;
    box-shadow: -4vmin 0 0.714497184963889vmin currentColor;
}
.background span:nth-child(22) {
    color: #f5c959;
    top: 47%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 4vh;
    box-shadow: -4vmin 0 1.4359379413596118vmin currentColor;
}
.background span:nth-child(23) {
    color: #f97d64;
    top: 48%;
    left: 16%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw -4vh;
    box-shadow: 4vmin 0 1.2773136732309658vmin currentColor;
}
.background span:nth-child(24) {
    color: #f5c959;
    top: 86%;
    left: 21%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw 25vh;
    box-shadow: -4vmin 0 0.9000416566617344vmin currentColor;
}

/*@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
	z-index: -1;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #f5c959;
    top: 49%;
    left: 58%;
    animation-duration: 46s;
    animation-delay: -15s;
    transform-origin: 13vw -22vh;
    box-shadow: 4vmin 0 1.1299036053481037vmin currentColor;
}
.background span:nth-child(1) {
    color: #08638c;
    top: 76%;
    left: 4%;
    animation-duration: 43s;
    animation-delay: -13s;
    transform-origin: 15vw 5vh;
    box-shadow: 4vmin 0 0.5732759564008245vmin currentColor;
}
.background span:nth-child(2) {
    color: #f97d64;
    top: 67%;
    left: 63%;
    animation-duration: 19s;
    animation-delay: -30s;
    transform-origin: 12vw -9vh;
    box-shadow: 4vmin 0 0.8199374354954061vmin currentColor;
}
.background span:nth-child(3) {
    color: #08638c;
    top: 96%;
    left: 2%;
    animation-duration: 45s;
    animation-delay: -5s;
    transform-origin: -20vw 16vh;
    box-shadow: 4vmin 0 0.531368715847788vmin currentColor;
}
.background span:nth-child(4) {
    color: #f97d64;
    top: 90%;
    left: 25%;
    animation-duration: 12s;
    animation-delay: -7s;
    transform-origin: 0vw -14vh;
    box-shadow: 4vmin 0 1.3034144077571055vmin currentColor;
}
.background span:nth-child(5) {
    color: #f5c959;
    top: 11%;
    left: 43%;
    animation-duration: 34s;
    animation-delay: -33s;
    transform-origin: -15vw 22vh;
    box-shadow: -4vmin 0 0.750697329141933vmin currentColor;
}
.background span:nth-child(6) {
    color: #f5c959;
    top: 62%;
    left: 22%;
    animation-duration: 55s;
    animation-delay: -49s;
    transform-origin: 8vw 21vh;
    box-shadow: -4vmin 0 1.2195564456785886vmin currentColor;
}
.background span:nth-child(7) {
    color: #f5c959;
    top: 48%;
    left: 95%;
    animation-duration: 19s;
    animation-delay: -13s;
    transform-origin: 12vw -13vh;
    box-shadow: 4vmin 0 1.2825323684352328vmin currentColor;
}
.background span:nth-child(8) {
    color: #f97d64;
    top: 81%;
    left: 88%;
    animation-duration: 20s;
    animation-delay: -2s;
    transform-origin: -19vw -15vh;
    box-shadow: -4vmin 0 1.426967594003659vmin currentColor;
}
.background span:nth-child(9) {
    color: #08638c;
    top: 90%;
    left: 99%;
    animation-duration: 27s;
    animation-delay: -3s;
    transform-origin: -5vw -4vh;
    box-shadow: -4vmin 0 0.8930790929923007vmin currentColor;
}
.background span:nth-child(10) {
    color: #f97d64;
    top: 19%;
    left: 14%;
    animation-duration: 29s;
    animation-delay: -49s;
    transform-origin: 12vw -16vh;
    box-shadow: 4vmin 0 1.0851542951765538vmin currentColor;
}
.background span:nth-child(11) {
    color: #08638c;
    top: 88%;
    left: 61%;
    animation-duration: 14s;
    animation-delay: -49s;
    transform-origin: 14vw 1vh;
    box-shadow: -4vmin 0 0.952610398353487vmin currentColor;
}
.background span:nth-child(12) {
    color: #08638c;
    top: 95%;
    left: 20%;
    animation-duration: 25s;
    animation-delay: -23s;
    transform-origin: -4vw -5vh;
    box-shadow: -4vmin 0 1.4647917730938405vmin currentColor;
}
.background span:nth-child(13) {
    color: #f97d64;
    top: 76%;
    left: 9%;
    animation-duration: 39s;
    animation-delay: -1s;
    transform-origin: 25vw -15vh;
    box-shadow: -4vmin 0 0.5199397600419817vmin currentColor;
}
.background span:nth-child(14) {
    color: #08638c;
    top: 70%;
    left: 6%;
    animation-duration: 28s;
    animation-delay: -48s;
    transform-origin: 2vw 4vh;
    box-shadow: -4vmin 0 0.6321356557122795vmin currentColor;
}
.background span:nth-child(15) {
    color: #f97d64;
    top: 74%;
    left: 66%;
    animation-duration: 13s;
    animation-delay: -48s;
    transform-origin: 11vw 7vh;
    box-shadow: 4vmin 0 1.16684242930643vmin currentColor;
}
.background span:nth-child(16) {
    color: #08638c;
    top: 79%;
    left: 45%;
    animation-duration: 11s;
    animation-delay: -31s;
    transform-origin: 10vw 15vh;
    box-shadow: 4vmin 0 1.2882369373127527vmin currentColor;
}
.background span:nth-child(17) {
    color: #08638c;
    top: 38%;
    left: 1%;
    animation-duration: 26s;
    animation-delay: -48s;
    transform-origin: 11vw 21vh;
    box-shadow: 4vmin 0 0.8538655087640072vmin currentColor;
}
.background span:nth-child(18) {
    color: #08638c;
    top: 50%;
    left: 78%;
    animation-duration: 12s;
    animation-delay: -23s;
    transform-origin: 19vw -20vh;
    box-shadow: 4vmin 0 0.9513642221257326vmin currentColor;
}
.background span:nth-child(19) {
    color: #f5c959;
    top: 18%;
    left: 27%;
    animation-duration: 18s;
    animation-delay: -41s;
    transform-origin: 19vw -24vh;
    box-shadow: 4vmin 0 1.133265195456513vmin currentColor;
}
.background span:nth-child(20) {
    color: #08638c;
    top: 63%;
    left: 1%;
    animation-duration: 53s;
    animation-delay: -42s;
    transform-origin: 3vw 8vh;
    box-shadow: 4vmin 0 0.7792330278671162vmin currentColor;
}
.background span:nth-child(21) {
    color: #f97d64;
    top: 68%;
    left: 26%;
    animation-duration: 13s;
    animation-delay: -45s;
    transform-origin: -15vw -13vh;
    box-shadow: 4vmin 0 1.056016874100825vmin currentColor;
}
.background span:nth-child(22) {
    color: #f97d64;
    top: 69%;
    left: 83%;
    animation-duration: 31s;
    animation-delay: -17s;
    transform-origin: -23vw -11vh;
    box-shadow: 4vmin 0 0.7961923479233253vmin currentColor;
}
.background span:nth-child(23) {
    color: #08638c;
    top: 12%;
    left: 4%;
    animation-duration: 52s;
    animation-delay: -27s;
    transform-origin: 19vw 24vh;
    box-shadow: -4vmin 0 0.9117063870881399vmin currentColor;
}
.background span:nth-child(24) {
    color: #08638c;
    top: 31%;
    left: 1%;
    animation-duration: 7s;
    animation-delay: -33s;
    transform-origin: -10vw 24vh;
    box-shadow: -4vmin 0 1.182566060385597vmin currentColor;
}*/



/*GAME*/


/*OLD*/

/*.jumbotron {
  background-image: url("../../assets/42logos/canvalogotransparent.png");
  background-size: 12%;
  min-height: 600px;
}

body {
  margin-top: 2%;
  text-align: center;
}*/

/*p {
	text-align: center;
}*/