<!-- Banner -->
<!--<div class="jumbotron text-center">  

</div>
<body>
	<button type="button" class="btn btn-dark" (click)="onRegister()">Register</button>
</body>-->

<body>
	<!-- Background -->
	<div class='pattern'>

	<!-- Elements -->
	<!--<div class="container">-->
	<div class="text-center">
		<img src="../../assets/canvalogotransparent.png">
	</div>
	<div class="text-center">
		<h2>Play pong. Chat with friends.</h2>
		<h5>You may be the next champion</h5>
	</div>
	<div class="text-center">
	<button type="button" class="btn rounded-pill btn-dark btn-lg">Get in</button>
</div>
	</div>
<!--</div>-->
</body>