header {
    display: flex;
    background: #e7d5d5;
    height: auto;
    min-height: 150px;
    padding: 25px;
}
.rounded-circle {
    width: 100px;
    height: 100px;
}

.title {
    display: flex;
    padding: 20px;
    /* justify-content:flex-start; */
}

.title p {
    padding-left: 20px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

/* .col-sm {
    font-family: 'Courier New', Courier, monospace;
} */

/* .conrrrtainer {
    justify-content: center;
} */

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: column wrap; */

    /* padding-left: 60px; */
    /* justify-content: space-between; */
  }
  
  .flex-grid > div {
    /* flex: 1; */
    margin: 10px 10px 10px 10px;
    padding: 55px;
    border: 1px solid #ddd;
    background: #fff;
  }

  .flex-grid h3 {
    /* margin: -15px -15px 15px -15px; */
     text-align: center;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 200;
    border-bottom: 3px solid rgb(149, 191, 219);
}

.flex-grid p {
    text-align: center;
    font-weight: 600;
}
/* .container {
    display: flex;
    flex-wrap: wrap;
} */


@media (max-width: 1000px) { 

    .flex-grid {
      flex-direction: column;
      flex-wrap: wrap; 
     }
  
    .flex-grid > div {
      margin-right: 0;
    }
  
  }