app-header {
  flex: 1;
  padding: 0px;
}

.col {
  padding-left: 0%;
  padding-right: 0%;
  background-color: bisque;
}

.right {
  display: flex;
  flex-direction: column;
}

.middle {
  flex-grow: 1;
}

.row {
  margin-left: 0%;
  margin-right: 0%;
}
