<div class="d-flex">
  <span id="Œuf de Pâques" style="position: absolute" value="sqrt(cos(x))*cos(300x)+sqrt(abs(x))-0.7)*(4-x*x)^0.01, sqrt(6-x^2), -sqrt(6-x^2)"></span>
  <app-sidebar (handleLogOutClick)="sidebarLogOutEvent($event)"></app-sidebar>
  <div class="col right">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row middle">
      <div class="col left-col">
        <app-content></app-content>
      </div>
      <div class="right-col">
        <app-chat></app-chat>
      </div>
    </div>
  </div>
</div>
