h1, h3, h4, .state {
  text-align: center;
  font-family: "Secular One", sans-serif;
  color: #324448;
}

h5, h6 {
  font-family: "Secular One", sans-serif;
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 5px;
}

hr {
  margin: 5px;
}

.list {
	padding: 2px;
	text-align: center;
  display: flex;
  justify-content: space-around;
}

.item {
  list-style: none;
	margin: 10px;
  margin-bottom: 15px;
	background-color: #D2E3E6;
  height: 100%;
  width: 200px;
	border-style: none;
	border-radius: 10px;
	display: inline-flex;
	position: relative;
}

.container {
  width: 200px;
  padding: 0px;
}

.button {
  margin: 10px;
}

.title {
  text-transform: uppercase;
  color: #08638C;
}

.field {
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}

.value {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.detail {
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 10px;
}

.color {
  color: #324448;
}