<div *ngIf="sets.length > 0">
    <h1>Play pong</h1>
    <br>
    <h4 class="state">Select your game to compete with the best 42 pong players !</h4>
    <br>
    <br>
    <br>
</div>
<div class="list">
    <li class="item" *ngFor="let set of sets">
        <div class="container">
            <svg version="1.1" id="{{ set.type }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 700 400" style="border-radius: 10px 10px 0px 0px; margin: 4px;" xml:space="preserve">
                <g *ngIf="set.board_color === 'figma'">
                    <image width="750" height="400" xlink:href="../../../../assets/landscapebannerfigma.png" />
                </g>
                <g *ngIf="set.board_color !== 'figma'">
                    <rect width="700" height="400" style="fill: {{ set.board_color }};"/>
                </g>
                <g *ngIf="set.type === 'classic'">
                    <rect x="25" y="40" width="10" height="80" style="fill: {{ set.racket1_color }};"/>
                    <rect x="668" y="260" width="10" height="80" style="fill: {{ set.racket2_color }};"/>
                    <rect x="460" y="260" width="16" height="16" style="fill: {{ set.ball_color }};"/>
                </g>
                <g *ngIf="set.type === 'our'">
                    <rect x="25" y="40" width="10" height="80" style="fill: {{ set.racket1_color }};"/>
                    <rect x="668" y="260" width="10" height="80" style="fill: {{ set.racket2_color }};"/>
                    <rect x="460" y="260" width="16" height="16" style="fill: {{ set.ball_color }};"/>
                </g>
                <g *ngIf="set.type === 'special'">
                    <rect x="25" y="40" width="6" height="48" style="fill: {{ set.racket1_color }};"/>
                    <rect x="660" y="130" width="15" height="120" style="fill: {{ set.racket2_color }};"/>
                    <rect x="460" y="260" width="8" height="8" style="fill: {{ set.ball_color }};"/>
                </g>
            </svg>
            <h3 class="title">{{ set.type }}</h3>
            <hr>
            <br>
            <h5 class="color">Game characteristics</h5>
            <h6 class="detail">size | speed</h6>
            <br>
            <h5 class="field color">Ball</h5>
            <p class="value color">{{ set.ball_desc }}</p>
            <br>
            <h5 class="field color">Left paddle</h5>
            <p class="value color">{{ set.racket1_desc }}</p>
            <br>
            <h5 class="field color">Right paddle</h5>
            <p class="value color">{{ set.racket2_desc }}</p>
            <br>
            <input *ngIf="selected === undefined" (click)="setShield(set.type)" type="checkbox">
            <input *ngIf="selected !== undefined" (click)="setShield(set.type)" type="checkbox" disabled>
            <label for="Shield power-up" style="margin-left: 4px;">Shield power-up</label>
            <button *ngIf="selected === undefined" class="btn btn-dark button" type="submit" (click)="setParty(set.type)">PLAY</button>
            <button *ngIf="selected !== undefined && selected !== set.type" class="btn btn-dark button" type="submit" [disabled]="true">PLAY</button>
            <button *ngIf="selected !== undefined && selected === set.type" class="btn btn-dark button" type="submit" (click)="unsetParty()">CANCEL</button>
        </div>
    </li>
</div>