<h1>Pong ranking</h1>
<br>
<h4 class="count"> Number of champions : {{ size }}</h4>
<div class="list">
	<img *ngIf="scores?.length === 0 || scores === undefined" src="../../../../assets/champions.png" style="width: 100%;">
	<li class="item" *ngFor="let score of scores;let i=index">
		<p [ngClass]="{'other': i > 2,
			'third': i == 2,
			'second': i == 1,
			'first': i == 0}">{{ i + 1 }}</p>
		<div [ngSwitch]="global.allUserStatus.get(score.login.login)">
			<img *ngIf="global.allUserAvatar.has(score.login.login)" class="avatar" src="{{ global.allUserAvatar.get(score.login.login) }}">
			<img *ngIf="!global.allUserAvatar.has(score.login.login)" class="avatar" src="{{ score.login.avatar }}">
			<div *ngSwitchCase="'Offline'" class ="offline" onmouseenter="$(this).tooltip('show')" title="Offline">
			</div>
			<div *ngSwitchCase="'Playing'" class="playing" onmouseenter="$(this).tooltip('show')" title="Playing">
			</div>
			<div *ngSwitchCase="'Spectating'" class="spectating" onmouseenter="$(this).tooltip('show')" title="Spectating">
			</div>
			<div *ngSwitchCase="'Online'" class="online" onmouseenter="$(this).tooltip('show')" title="Online">
			</div>
			<div *ngSwitchCase="undefined" class="offline" onmouseenter="$(this).tooltip('show')" title="Offline">
			</div>
		</div>
		<div class="detail">
			<div *ngIf="global.allUserPseudo.has(score.login.login)" class="left">{{ global.allUserPseudo.get(score.login.login) }}</div>
			<div *ngIf="!global.allUserPseudo.has(score.login.login)" class="left">{{ score.login.pseudo }}</div>
			<div class="right">{{ score.points_for_ladder }} pts</div>
		</div>
	</li>
</div>
