.padding-text {
    padding-top: 3%;
  }

  .input-group {
    margin: 5px;
    justify-content: center;
  }
  
  .rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 3%;
  }
  
  .title-form {
    font-family: "Comfortaa";
    font-size: 25px;
  }
  
  #input {
    width: 20%;
  }

  h6 {
    margin: 5px;
  }