<p>about-me works!</p>
<app-double-auth></app-double-auth>
<div *ngIf="profile" style="text-align: center">
  <div *ngIf="profile.login">login : {{ profile.login }}</div>
  <div *ngIf="profile.pseudo">pseudo : {{ profile.pseudo }}</div>
  <div *ngIf="profile.bio">bio : {{ profile.bio }}</div>
  <div *ngIf="profile.avatar">
    <img
      style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover"
      alt="avatar"
      src="{{ profile.avatar }}"
    />
  </div>
  <div *ngIf="profile.app_role">role : {{ profile.app_role }}</div>
  <div>
    <h2>Achievements: {{ unlockedAchievements }} / {{ totalNumberOfAchievements }}</h2>
    <table *ngIf="unlockedAchievements">
      <tr *ngFor="let achievement of achievements">
        <td>
          <img src="{{ achievement.icon }}">
        </td>
        <td>
          <p>
            {{ achievement.detail }}
          </p>
        </td>
        <td>
            {{ achievement.date }}
        </td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="!found">Not found</div>
