<p>about-me works!</p>

<div>
    <div class="btn btn-dark" (click)="decrement()">&lt;</div>
    <img
      id="avatar"
      class="rounded-circle"
      alt="{{ avatarList[i].alt }}"
      src="{{ avatarList[i].url }}"
    />
    <input
      class="d-none"
      type="text"
      id="avatarUrl"
      value="{{ avatarList[i].url }}"
    />
    <div class="btn btn-dark" (click)="increment()">&gt;</div>
  </div>

<form>
    <div>
        <input type="file" class="form-control" id="uploaded-avatar" name="avatar" accept="image/png, image/jpeg, image/gif" (change)="inputFile($event)">
    </div>
    <button id="uploadFile" type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)=uploadFile()>
        Upload
    </button>
</form>
<br />
<button id="submitId" type="button" data-bs-dismiss="modal" class="btn btn-primary">
    Submit
</button>