body {
	max-height: 79vh;
	/* max-height: 85vh; */
    height: 100%;
    margin: 0px;
}

.col {
    background-color: aquamarine;
}

.row {
    height: 50%;
    overflow-y: scroll;
}

.top {
    background-color: burlywood;
}

.bottom {
    background-color: rgb(135, 163, 222);
}