<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="modal-open">
    <div
      id="toOpenModal"
      data-bs-toggle="modal"
      data-bs-target="#myModal"
    ></div>
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Tell us more about you...</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form [formGroup]="profileForm">
              <div class="form-group">
                <label for="pseudo" class="col-form-label"> Pseudo </label>
                <h6><em>Only letters and numbers are accepted</em></h6>
                <input
                  id="pseudo"
                  class="form-control"
                  type="text"
                  maxlength="20"
                  formControlName="pseudo"
                  pattern="[A-Za-z0-9]+"
                />
              </div>

              <div class="form-group">
                <label for="bio" class="col-form-label"> Bio </label>
                <textarea
                  id="bio"
                  class="form-control"
                  type="text"
                  maxlength="200"
                  formControlName="bio"
                ></textarea>
              </div>
            </form>
            <br />
            <button
              id="submitId"
              type="button"
              [disabled]="!profileForm.valid"
              data-bs-dismiss="modal"
              class="btn btn-primary"
            >
              Submit
            </button>
            <div class="padding-text">
              <h6><em>Complete the form to enable button</em></h6>
            </div>

            <h6>
              <em>Form Status: {{ profileForm.status }}</em>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
