<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="modal-open" >
    <div id="toOpenModal"
      data-bs-toggle="modal"
      data-bs-target="#myModal">
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">
              Before starting, we need to know more about you...
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="pseudo-input" class="col-form-label">Pseudo</label>
                <input
                  type="text"
                  class="form-control"
                  id="pseudo-input"
                  maxlength="20"
                  placeholder="20 chars max"
                />
              </div>
              <div class="form-group">
                <label for="bio-input" class="col-form-label">Bio</label>
                <textarea
                  class="form-control"
                  id="bio-input"
                  maxlength="200"
                  placeholder="200 chars max"
                ></textarea>
              </div>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button
              type="button"
              id="submit"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>