button {
  margin-left: 50%;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  display: inline-block;
  vertical-align: text-top;
  border-color: black;
  border-width: 2px;
  border-style: outset;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-image: url("/assets/img/background-shrek.jpeg");
}

#info {
  align-items: center;
  justify-content: center;
  border-color: black;
  border-width: 2px;
  border-style: outset;
}

.hidden {
  display: none;
  color: blue;
}


