<div *ngIf="status" class="alert alert-success" role="alert">
    Welcome ! You have successfully logged in !
</div>    

<div *ngIf="!status" class="alert alert-danger" role="alert">
    Oh, oh... Something went wrong ! There is no connexion.
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="../../../../assets/fuck-docker.png" class="mx-auto d-block" style="border-radius: 12px;" alt="...">

<div class="team">
    <small><p><em>Ⓒ Transcendance dreamteam, made by 42 students : ageraud, jobenass, pgoudet, rlepart, sad-aude</em></p></small>
</div>
