@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

/* NEW TEST DROPDOWN */

.dropdown-menu.show {
  background: #ffffff;
}

.dropdown-menu {
  background-color: #ffffff;
}

.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

a:hover {
  background-color: #d2e3e6;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #43b6b2;
  border: #43b6b2;
  color: white;
}

#dropdownMenuButton {
  background-color: #43b6b2;
  border: #43b6b2;
  color: white;
}

/* Display users list */

/* .viewUsers {
  max-height: 150px;
  overflow-y: auto; */
/* min-width: 200px; */
/* } */

/* ROWS */

.container {
  height: 100%;
}

.row-top {
  min-height: 450px;
  max-height: 450px;
  overflow-y: auto;
}

.row-bottom {
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.row {
  margin-left: 0%;
  margin-right: 0%;
  /* overflow-y: auto; to scroll */
}

/* STYLE */

h1,
h5 {
  text-align: center;
  font-family: "Secular One", sans-serif;
  color: #324448;
}

h4 {
  font-family: "Secular One", sans-serif;
  color: #324448;
}

h6 {
  text-align: center;
  font-family: "Secular One", sans-serif;
}

p {
  margin: 15px;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 3%;
}

.rounded-circle-sm {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 3%;
  border-radius: 50%;
}

.card {
  margin: 10px;
}

.badge {
  font-size: 12px;
}

.badge-success {
  background-color: #43b6b2;
}

.style-txt {
  font-size: 12px;
  padding: 8px;
  text-align: justify;
}

.viewMembersRoom {
  max-height: 150px;
  overflow-y: auto;
}

.list-group-item {
  font-size: 10px;
}