<div class="container">
  <h1>MY FRIENDS</h1>
  <h4>My favorite friends</h4>
  <div class="row middle">
    <!-- MY FAVORITE FRIENDS -->
    <div class="row-top">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- an user -->
        <div class="col">
          <div class="card">
            <div class="text-center">
              <img
                src="../../../../assets/profile-pictures/nigoncal.jpeg"
                class="card-img-top rounded-circle"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Nigoncal</h5>
                <h6>Online</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success">Bio</span>
                    <div class="style-txt">
                      Like any other social media site Facebook has length
                      requirements when it comes to writing on the wall,
                      providing status, messaging and commenting. Understanding
                      how many characters you can use, enab.
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success">Stats</span>
                    <div class="style-txt">
                      Like any other social media site Facebook has length
                      requirements when it comes to writing on the wall,
                      providing status, messaging and commenting. Understanding
                      how many characters you can use, enab.
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success"
                      >Achievements</span
                    >
                    <div class="achievements">
                      <img
                        src="../../../../assets/achievements/achievement1.png"
                        class="rounded-circle-sm"
                        alt="..."
                      />
                      <img
                        src="../../../../assets/achievements/achievement4.png"
                        class="rounded-circle-sm"
                        alt="..."
                      />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /an user -->

        <!-- an user -->
        <div class="col">
          <div class="card">
            <div class="text-center">
              <img
                src="../../../../assets/profile-pictures/nigoncal.jpeg"
                class="card-img-top rounded-circle"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Nigoncal</h5>
                <h6>Online</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success">Bio</span>
                    <div class="style-txt">
                      Like any other social media site Facebook has length
                      requirements when it comes to writing on the wall,
                      providing status, messaging and commenting. Understanding
                      how many characters you can use, enab.
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success">Stats</span>
                    <div class="style-txt">
                      Like any other social media site Facebook has length
                      requirements when it comes to writing on the wall,
                      providing status, messaging and commenting. Understanding
                      how many characters you can use, enab.
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success"
                      >Achievements</span
                    >
                    <div class="achievements">
                      <img
                        src="../../../../assets/room-pictures/1.png"
                        class="rounded-circle-sm"
                        alt="..."
                      />
                      <img
                        src="../../../../assets/room-pictures/2.png"
                        class="rounded-circle-sm"
                        alt="..."
                      />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /an user -->

        <!-- an user -->
        <div class="col">
          <div class="card">
            <div class="text-center">
              <img
                src="../../../../assets/profile-pictures/nigoncal.jpeg"
                class="card-img-top rounded-circle"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Nigoncal</h5>
                <h6>Online</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success">Bio</span>
                    <div class="style-txt">
                      Like any other social media site Facebook has length
                      requirements when it comes to writing on the wall,
                      providing status, messaging and commenting. Understanding
                      how many characters you can use, enab.
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success">Stats</span>
                    <div class="style-txt">
                      Like any other social media site Facebook has length
                      requirements when it comes to writing on the wall,
                      providing status, messaging and commenting. Understanding
                      how many characters you can use, enab.
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success"
                      >Achievements</span
                    >
                    <div class="achievements">
                      <img
                        src="../../../../assets/room-pictures/1.png"
                        class="rounded-circle-sm"
                        alt="..."
                      />
                      <img
                        src="../../../../assets/room-pictures/2.png"
                        class="rounded-circle-sm"
                        alt="..."
                      />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /an user -->

        <!-- an user -->
        <div class="col">
          <div class="card">
            <div class="text-center">
              <img
                src="../../../../assets/profile-pictures/nigoncal.jpeg"
                class="card-img-top rounded-circle"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Nigoncal</h5>
                <h6>Online</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success">Bio</span>
                    <div class="style-txt">
                      Like any other social media site Facebook has length
                      requirements when it comes to writing on the wall,
                      providing status, messaging and commenting. Understanding
                      how many characters you can use, enab.
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success">Stats</span>
                    <div class="style-txt">
                      Like any other social media site Facebook has length
                      requirements when it comes to writing on the wall,
                      providing status, messaging and commenting. Understanding
                      how many characters you can use, enab.
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span class="badge badge-pill badge-success"
                      >Achievements</span
                    >
                    <div class="achievements">
                      <img
                        src="../../../../assets/room-pictures/1.png"
                        class="rounded-circle-sm"
                        alt="..."
                      />
                      <img
                        src="../../../../assets/room-pictures/2.png"
                        class="rounded-circle-sm"
                        alt="..."
                      />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /an user -->
      </div>
    </div>
  </div>
  <!-- ALL USERS -->
  <div class="row-bottom">
    <h2>ALL USERS</h2>
  </div>
</div>

<!-- <div class="col">
    <div class="card">
      <div class="text-center">
        <img
          src="../../../../assets/profile-pictures/nigoncal.jpeg"
          class="card-img-top rounded-circle"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Nigoncal</h5>
          <h6>Online</h6>
          <div class="dropdown">
            <button
              class="btn btn-light btn-lg"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Bio
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="dropdownMenuButton"
            > -->
<!--Bio-->
<!-- <li>
                <button
                  type="button"
                  class="btn btn-default"
                  data-placement="left"
                  title="Like any other social media site Facebook has length requirements when it comes to writing on the wall, providing status, messaging and commenting. Understanding how many characters you can use, enab."
                  onmouseenter="$(this).tooltip('show')"
                >
                  ICIIIII
                </button>
              </li> -->
<!--Stats-->
<!-- <li>
                <div class="viewUsers">
                  <a class="dropdown-item"> Stats &raquo; </a>
                </div>
              </li> -->
<!--Achievements-->
<!-- <li>
                <div class="viewUsers">
                  <a class="dropdown-item"> Achievements &raquo; </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- /an user -->

<!-- <button
                  type="button"
                  class="btn btn-light btn-sm"
                  id="dropdownMenuButton"
                  data-placement="left"
                  title="Like any other social media site Facebook has length requirements when it comes to writing on the wall, providing status, messaging and commenting. Understanding how many characters you can use, enab."
                  onmouseenter="$(this).tooltip('show')"
                >
                  Bio
                </button>
                <br />
                <br />
                <button
                  type="button"
                  class="btn btn-light btn-sm"
                  id="dropdownMenuButton"
                  data-placement="left"
                  title="Like any other social media site Facebook has length requirements when it comes to writing on the wall, providing status, messaging and commenting. Understanding how many characters you can use, enab."
                  onmouseenter="$(this).tooltip('show')"
                >
                  Stats
                </button>
                <br />
                <br />
                <button
                  type="button"
                  class="btn btn-light btn-sm"
                  id="dropdownMenuButton"
                  data-placement="left"
                  title="Like any other social media site Facebook has length requirements when it comes to writing on the wall, providing status, messaging and commenting. Understanding how many characters you can use, enab."
                  onmouseenter="$(this).tooltip('show')"
                >
                  Achievements
                </button> -->
