<div class="sidebar">
  <div class="fixed">
    <a
      routerLink="/welcome"
      class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom logo-link"
    >
      <img
        class="fit-picture"
        src="../../../assets/42logos/canvalogotransparent.png"
        alt="Pong"
      />
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button
          class="btn btn-toggle align-items-center rounded collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#home-collapse"
          aria-expanded="true"
        >
          Profile
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngIf="currentAppRole === 'superadmin'">
              <a class="link-dark rounded" routerLink="profile/super-admin"
                >Web owner</a
              >
            </li>
            <li *ngIf="currentAppRole === 'moderator'">
              <a class="link-dark rounded" routerLink="profile/super-admin"
                >Moderator</a
              >
            </li>
            <li>
              <a
                class="link-dark rounded"
                routerLink="profile/about-me"
                >About me</a
              >
            </li>
            <li>
              <a class="link-dark rounded" routerLink="profile/my-friends"
                >My friends</a
              >
            </li>
            <li>
              <a class="link-dark rounded" routerLink="profile/my-stats"
                >My stats</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button
          class="btn btn-toggle align-items-center rounded collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#dashboard-collapse"
          aria-expanded="true"
        >
          Pong
        </button>
        <div class="collapse show" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a class="link-dark rounded" routerLink="pong/play">Play</a>
            </li>
            <li>
              <a class="link-dark rounded" routerLink="pong/live">Live</a>
            </li>
            <li>
              <a class="link-dark rounded" routerLink="pong/ranking">Ranking</a>
            </li>
            <li>
              <a class="link-dark rounded" routerLink="pong/rules">Rules</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button
          class="btn btn-toggle align-items-center rounded collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#account-collapse"
          aria-expanded="false"
        >
          Sign out
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a (click)="onLogOut()" class="link-dark rounded">Log out</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
