.sidebar {
  width: 280px;
  height: 100%;
  min-height: 100vh;
  /* min-height: auto; */
  /* background-image: url("../../../assets/bannerfigma.png"); */
  background-color: rgb(8, 99, 140);
  /* background-color: rgb(179, 199, 212); */
  background-size: cover;
  padding: 1rem;
}
.fixed {
  position: fixed;
}

.fit-picture {
  width: 200px;
  height: 200px;
}

.logo-link {
  padding-left: 15px;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #ffffff;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #ffffff;
}

a {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .sidebar {
    width: 200px;
  }

  .fit-picture {
    width: 150px;
    height: 150px;
  }

  .logo-link {
    padding-left: 5px;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 140px;
  }

  .fit-picture {
    width: 90px;
    height: 90px;
  }
}

@media (max-height: 691px) {
  .sidebar {
    width: 140px;
    min-height: 700px;
  }

  .fit-picture {
    width: 90px;
    height: 90px;
  }

  /* Scrollable header when horizontal screen */
  .fixed {
    position: absolute;
  }
}
