<span *ngIf="global.login === undefined; else isConnected">
  <app-auth-page></app-auth-page
></span>
<ng-template #isConnected>
  <app-registered-page
    (notifyAppComponent)="onLogOutHandleClick($event)"
  ></app-registered-page>
</ng-template>

<!-- DOUBLE AUTH -->
<!-- <p>{{global.doubleAuth}}</p>
<span *ngIf="global.login === undefined; else isConnected">
  <app-auth-page></app-auth-page
    
></span>
<ng-template #isConnected>
  <span *ngIf="global.doubleAuth === false; else isDoubleAuthActivate">
      <app-registered-page
        (notifyAppComponent)="onLogOutHandleClick($event)"
      ></app-registered-page>
    </span>
    <ng-template #isDoubleAuthActivate> -->
      <!-- coucoucoucocucoucocucoucocu -->
      <!-- <input
        class="form-control"
        placeholder="Enter code received by mail"
      />
      <button
        class="btn btn-secondary btn-sm btn-block"
        (click)="onSubmitCode()"
      >
        Submit
      </button> -->
    <!-- </ng-template>
</ng-template> -->

