<div class="container">
  <h1>SUPER ADMIN PANEL</h1>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand">Set user roles</a> -->
      <div class="dropdown">
        <button
          class="btn btn-light btn-sm"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Set user roles
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!--1 -->
          <li>
            <a class="dropdown-item">View group rooms &raquo; </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <input
                  class="form-control"
                  id="room-name"
                  placeholder="Room name"
                  type="room-btn"
                />
                <!-- <div class="submenu">
                  HEYYY
                  <div class="style-txt">coucou</div>
                </div> -->
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
