/* NEW TEST DROPDOWN */
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

a:hover {
  background-color: #d2e3e6;
  cursor: pointer;
}

.style-txt {
  font-size: 12px;
  padding: 8px;
}

button[type="submit"] {
  background-color: #43b6b2;
  border: #43b6b2;
  color: white;
}

#dropdownMenuButton {
  background-color: #43b6b2;
  border: #43b6b2;
  color: white;
}

/* Display users list */

.viewUsers {
  max-height: 150px;
  overflow-y: auto;
  min-width: 200px;
}

.badge {
  font-size: 7px;
}

h1,
h5 {
  text-align: center;
  font-family: "Secular One", sans-serif;
  color: #324448;
}

h4 {
  font-family: "Secular One", sans-serif;
  color: #324448;
}