<div class="container">
  <h1>Admin interface</h1>
  <br>
  <br>

  <!-- CHANGE USER ROLE -->
  <h4>Global user settings</h4>
  <div *ngIf="global.role === 'superadmin'">
    <h6>You can appoint moderators who will have the same rights as you</h6>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class="dropdown">
          <button
          class="btn btn-light btn-lg"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="onGetAllUsersList()"
          >
          Set user roles
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!--1 -->
          <li *ngFor="let user of allUsersInfo">
            <div class="viewUsers">
              <a
              *ngIf="user.app_role !== 'superadmin' && user.banned === false"
              class="dropdown-item"
              >
              {{ user.login }}
              <span class="badge badge-pill badge-warning">{{
                user.app_role
              }}</span>
              &raquo;
            </a>
          </div>
          <ul class="dropdown-menu dropdown-submenu">
            <li>
              <span *ngIf="user.app_role === 'user'; else setAsUser">
                <button
                type="submit"
                class="btn btn-secondary btn-sm btn-block"
                (click)="onSetNewRole(user.login, 'moderator')"
                >
                Set as moderator
              </button>
            </span>
            <ng-template #setAsUser>
              <button
              type="submit"
              class="btn btn-secondary btn-sm btn-block"
              (click)="onSetNewRole(user.login, 'user')"
              >
              Set as user
            </button>
          </ng-template>
              </li>
            </ul>
          </li>
        </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
  </div>
  <!-- BAN USER -->
  <h6>You can ban users from the website. They won't be able to connect anymore</h6>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand">Set user roles</a> -->
      <div class="dropdown">
        <button
          class="btn btn-light btn-lg"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="onGetAllUsersList()"
        >
          Ban
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!--1 -->
          <li *ngFor="let user of allUsersInfo">
            <div class="viewUsers">
              <a *ngIf="user.app_role !== 'superadmin'" class="dropdown-item">
                {{ user.login }}
                <span
                  *ngIf="user.banned; else activeUser"
                  class="badge badge-pill badge-danger"
                  >banned</span
                >
                <ng-template #activeUser>
                  <span class="badge badge-pill badge-success">active</span>
                </ng-template>
                &raquo;
              </a>
            </div>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <span *ngIf="user.banned === true; else setAsBanned">
                  <button
                    type="submit"
                    class="btn btn-secondary btn-sm btn-block"
                    (click)="onBanChange(user.login, false)"
                  >
                    Unban
                  </button>
                </span>
                <ng-template #setAsBanned>
                  <button
                    type="submit"
                    class="btn btn-secondary btn-sm btn-block"
                    (click)="onBanChange(user.login, true)"
                  >
                    Ban
                  </button>
                </ng-template>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <!-- CHAT ROOM -->
  <h4>Global chat settings</h4>
  <h6>You can destroy channels and give or remove rights to users into chat channels</h6>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand">Set user roles</a> -->
      <div class="dropdown">
        <button
          class="btn btn-light btn-lg"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="onGetAllUsersList()"
        >
          Channels Rights
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!--1 -->
          <li *ngFor="let conv of listConv">
            <!-- <li *ngFor="let conv of allConvInfo"> -->
            <div class="viewUsers">
              <a class="dropdown-item"> {{ conv.conv.name }} &raquo; </a>
            </div>


            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item"> Delete room &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <button
                      type="submit"
                      class="btn btn-secondary btn-sm btn-block"
                      (click)="onDelete(conv.conv)"
                    >
                      Delete room
                    </button>
                  </li>
                </ul>
              </li>
              <li>
                <!-- <button
                  type="submit"
                  class="btn btn-secondary btn-sm btn-block"
                  
                >
                  View members
                </button> -->
              </li>
              <li>
                <a class="dropdown-item"> View members &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li *ngFor="let member of (conv.members) ">
                    <!-- <li *ngFor="let member of (listConv[0].members) "> -->
                    <a class="dropdown-item">
                     {{ member.login }}  &raquo;
                      <span class="badge badge-pill badge-warning">{{ member.role }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li *ngIf="member.role !== 'owner'">
                        <button
                          type="submit"
                          class="btn btn-secondary btn-sm btn-block"
                          (click)="onSetOwner(conv.conv, member.login)"
                        >
                          Set as room owner
                        </button>
                      </li>
                      <li *ngIf="member.role !== 'admin'">
                        <button
                          type="submit"
                          class="btn btn-secondary btn-sm btn-block"
                          (click)="onSetAdmin(conv.conv, member.login)"
                        >
                          Set as room admin
                        </button>
                      </li>
                      <li *ngIf="member.role !== 'chatter'">
                        <button
                          type="submit"
                          class="btn btn-secondary btn-sm btn-block"
                          (click)="onSetChatter(conv.conv, member.login)"
                        >
                          Set as room chatter
                        </button>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
</div>
