<div class="container">
  <h1>SUPER ADMIN PANEL</h1>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand">Set user roles</a> -->
      <div class="dropdown">
        <button
          class="btn btn-light btn-lg"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Set user roles
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!--1 -->
          <li>
            <div class="viewUsers">
              <a class="dropdown-item">Listing of users &raquo; </a>
            </div>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <button
                  type="submit"
                  class="btn btn-secondary btn-sm btn-block"
                >
                  Set as moderator
                </button>
                <button
                  type="submit"
                  class="btn btn-secondary btn-sm btn-block"
                >
                  Set as user
                </button>
                <!-- <div class="submenu">
                  HEYYY
                  <div class="style-txt">coucou</div>
                </div> -->
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
